body{
    font-family: "Cairo", sans-serif;
}
*{
    margin:0px ;
    box-sizing: border-box;
    padding: 0px;
}
:root{
    --main-color:#2196f3;
    --black-color:#333;
    --light-color:#ececec;
}
.container{
    margin-left: auto;
    margin-right: auto;
   padding-left: 15px;
    padding-right: 15px;
}
.container-fluied{
    width: 80%;
    margin: auto;
}
a,a:hover{
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.col-1{
    width: 8.33%;
    
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}