
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
    .header .nav .toggle-menu{
        display: none;
    }
}

@media (min-width:992px){
    .container{
        width: 85%;
    }
    .header .resp-menu{
        display: none;
}
}
@media (min-width: 768px) {
    .container{
        width: 85%;
    }
}
@media (max-width:991px){
  .nav-bar{
    flex-wrap: wrap;
  }
  .nav-bar > a{
    width: 100%;
justify-content: center;
  }
  .nav-bar .nav{
    width: 100%;
    justify-content: center;
    height: 0px;
  }
  .nav-bar .nav > li > a{
    font-size: 14px;
    padding: 5px 15px;
  }
  article .row{
    gap: 0px;
    flex-wrap: wrap;
  }
 .col-3 ,.col-4{
    width: 50%;
  }
  .feature .row{
    flex-wrap: wrap;
    gap: 0px;
  }
  .feature .box .text h2::after{
    left: 118px;
  }
  .skills .row{
    display: grid;
grid-template-columns: repeat(1 ,1fr);
  }
  .works .row .box{
    display: block;
  }
  .works .row .box .im{
    height: auto;
  }
  .text-vedio.col-4{
    width: 100%;
  }
  
  article .text{
    width: 90% !important;
    margin-bottom: 10px;
  }
  .gallery .row{
    gap: 0px;
    flex-wrap: wrap;
  }
 
  .testimonials .row ,.team-members .row ,.services .row , .pricing .row ,footer .row{
    grid-template-columns: repeat(2, 1fr);
    gap: 44px;
  }

  .event-content .event-img{
    display: none;
  }
  .events .form{
    padding: 26px;
    width: 100%;
    left: 0%;
    justify-content: center;
  }
  .dots-down,.dots-up{
    width: 20%;
  }
  .dots-up{
    right: 0px;
  }
  .videos .vedio-content,.discount{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
  }
  .awesome .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.awesome .form-desc{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
footer .galery .im5{
  height: 89px;;
}
footer .locate > span{
  display: block;
}
footer .locate > span > i{
  display: flex;
justify-content: center;
}
footer .locate > span > h5{
  text-align: center;
}
.landing {
  top: 33px;
  width:100%;
}
.landing .col-6
{
  width: 100%;
}
.landing-content{
  flex-wrap: wrap;
}
.landing-content .text h1 {
  text-align: center;
}
footer{
  margin-top: 40px;
}
footer .galery .im5{
  height: 83px;
}
  
}

@media (max-width: 768px) {

   
}
@media (max-width: 520px) {
  .col-3 ,.col-4{
    width: 100%;
  }
  .testimonials .row ,.team-members .row ,.services .row , .pricing .row ,footer .row{
    grid-template-columns: repeat(1, 1fr);
    gap: 44px;
  }
  .awesome .row{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
}
